<DModal
  @closeModal={{@closeModal}}
  @title={{i18n "discourse_subscriptions.user.invoices.modal.title"}}
  class="discourse-subscriptions-user-invoices"
>
  <:body>
    {{i18n "discourse_subscriptions.user.invoices.modal.description" email=this.currentUser.email}}
  </:body>
  <:footer>
    <a
      href="https://billing.stripe.com/p/login/28oaGm8iF6S8eKQcMM"
      target="_blank"
      role="button"
      class="btn btn-primary">
      {{d-icon "external-link-alt"}}
      <span class="d-button-label">
        {{i18n "discourse_subscriptions.user.invoices.modal.btn"}}
      </span>
    </a>
    <DModalCancel @close={{@closeModal}} />
  </:footer>
</DModal>