<table class="table discourse-subscriptions-user-table">
  <thead>
    <th>{{i18n "discourse_subscriptions.user.authorizations.resource"}}</th>
    <th>{{i18n "discourse_subscriptions.user.authorizations.products"}}</th>
    <th>{{i18n "discourse_subscriptions.user.authorizations.domains"}}</th>
    <th>{{i18n "discourse_subscriptions.user.authorizations.domain_limit"}}</th>
  </thead>
  <tbody>
    {{#each model.subscription_domains as |data|}}
      <SubscriptionData @data={{data}} />
    {{/each}}
  </tbody>
</table>
